<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Resumen de Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="task-list">
    <ion-label>Tareas Pendientes:</ion-label>
    <ion-list lines="none">
      <ion-item *ngFor="let tarea of tareasPendientes" class="task-item">
        {{ tarea.titulo }}
      </ion-item>
    </ion-list>
  </div>

  <div class="task-list">
    <ion-label>Tareas Completadas:</ion-label>
    <ion-list lines="none">
      <ion-item *ngFor="let tarea of tareasCompletadas" class="task-item">
        {{ tarea.titulo }}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
